nav.navbar{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -10px -10px 0px -10px;
    align-items: center;
    height: 50px;
    font-family: sans-serif;
}
nav.navbar div{
    width:95%;
    text-align: center;
}

nav.navbar > button{
    background-color:black;
    border: none;
    color: white;
    font-size: 25px;
    width: 2.5%;
    opacity: 0.7;
}

nav.navbar > button:hover{
    opacity: 1;
}

nav.navbar div a{
    text-decoration: none;
    color:  #ff6d91;
}

nav.navbar div a:first-child span:first-child{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

nav.navbar div a:first-child span:nth-child(2){
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
}

nav.navbar div a:hover{
    text-decoration: underline;
}

nav.navbar div > span{
    text-decoration: underline #ff6d91 2px;
}

header div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div:first-child ul:first-child{
    background-color: green;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header div:first-child ul:first-child li{
    padding: 15px;
}

header div:first-child ul:last-child li{
    padding: 8px;
}

header div:first-child ul:last-child{
    background-color: aqua;
    width: 50%;
    display: flex;
    align-items: center;
}

header div:first-child ul{
    list-style: none;
}

header div:first-child ul li a{
    text-decoration: none;
}

